body{
    background-image: url(./components/css/bacKGround.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
}